<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>

<!--{hook index_start.htm}-->

<div class="row">
	<div class="col-lg-12">
		<div class="card card-threadlist">
			<div class="card-body">
				<h2 class="text-center">感谢您支持WellCMS X，请到后台插件，选择需要安装的功能。</h2>
                <p class="mt-3" style="font-size: 1.5rem;">
                    WellCMS X 是一款倾向移动端的内容管理产品，具有安全、高效、稳定、速度快、负载超强的特点，同时在SEO方面做了大量优化。基于优秀的XiunoPHP开发，作者再次对核心进行了增强，其目的是榨干硬件的全部运算性能。
                </p>
                <p style="font-size: 1.5rem;">
                    WellCMS X 版本中的 X 取自“Extreme”，意为轻便到了极点；意为追求极致；意为自由飞翔，需要轻盈的体态；意为将程序的性能发挥到极限。
                </p>
			</div>
		</div>
	</div>
</div>

<!--{hook index_end.htm}-->

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>

<script>
$('li[data-active="fid-0"]').addClass('active');
</script>

<!--{hook index_js.htm}-->